@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}

:root {
    --primary-color: #FD6E0A;
    --secondary-color: #757575;
    --light-color: #fff;
    --dark-color: #000;
}

.primary-btn {
    background: #FD6E0A;
    border-radius: 5px;
    padding: 18px 36px;
    color: var(--light-color);
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin: 130px 0;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #181818;
    margin-bottom: 30px;
}

.section-description {
    font-size: 18px;
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 50px;
}

/* header styles  */
header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 50px;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-logo {
    font-weight: 800;
    font-size: 45px;
}

.nav-logo span {
    color: var(--primary-color);
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}


/* header banner  */
.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description {
    font-size: 18px;
}

.banner-btn {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.banner-btn a {
    text-decoration: none;
}

.banner-btn a:last-child {
    background: var(--light-color);
    color: var(--primary-color);
    border: 1px solid #FD6E0A;
    border-radius: 5px;
}

.banner-btn a i {
    margin-right: 10px;
    font-size: 18px;
}

.banner-img {
    position: relative;
    left: 20%;
}

/* about section styles  */
.about {
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 156px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info-name {
    font-size: 20px;
    text-align: center;
    color: var(--secondary-color);
}

.about-info-value {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #474747;
}

/* what i do styles  */
.what-i-do .section-description {
    max-width: 909px;
    margin: 0 auto;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-img {
    width: 44px;
    height: 44px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: var(--secondary-color);
}